.comment {
  max-width: 100%;
  margin: 0 auto 25px;

  &__form {
    max-width: 972px;
    margin: 0 auto;
    border: 10px solid black;
    border-radius: 10px;
  }

  &__area {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 5px;
    font-size: 16px;
    line-height: 100%;

    &:focus {
      outline: 2px solid white;
    }
  }
}

.no-resize {
  resize: none;
}
